@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.jumbotron{
    background-color: #16a085;
    color: aliceblue;
    padding: .25rem;
    font-family: 'Poiret One', cursive;
}

.footer{
    background-color: #16a085;
    color: black;
    padding: 15px;
}

.card{
    flex: 1 150px;
    border: thin solid white;
    margin: 3px;
    padding: 5px 0px;
}
.card-sin-borde{
    flex: 1 150px;
    border: thin solid gray;
    border-radius: 3px;
    margin: 7px 3px;
    padding: 5px 0px;
}
.btn, p, h3{
    width: 80%;
    margin: 10px auto;
}
.btn-form{
    margin: 3px auto;
    width: 100%;
}
.breadcumb1{
    padding: 1em;

}